extend layout
block content

  - each list in lists
    p
      a(href="/list/#{list.id}") #{list.name}
      if(list.cards.length)
        - each card in list.cards
          include cards/small

      else
        p.no-cards NO CARDS