<html>
  <head>
    <title>SC-Trello</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
      <div class="navigation">
        <div class="all-boards">
          <a href="/board/">All Boards</a>
        </div>
        <div class="jira-boards">
          <a href="/jira-home/">Jira</a>
        </div>
        <div class="update-token">
          <a href="/update-token">Update Token</a>
        </div>
      </div>
      <h1>Trello API modification</h1>
    </header>
    <div class="container">
      <div class="main-content">This is the default page. Pick a board to continue...

      </div>
    </div>
    <footer>
    </footer>
  </body>
</html>