<html>
  <head>
    <title>SC-Trello</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
      <h1>quick name check</h1>
    </header>
    <div class="container">
      <div class="main-content">This is the default page. 
        <form name="input" action="test-app" method="get">
          First name: <input class="fName" type="text" name="firstname"><br>
          Last name: <input type="text" name="lastname"><br/>
          <input type="submit" value="Submit" onclick="document.getElementsByClassName('fName')[0].value=''; return false">
          <input type="submit" value="Clear">
        </form>
      </div>
    </div>
    <footer>
    </footer>
  </body>
</html>