<html>
  <head>
    <title>SC-Trello</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
      <div class="navigation">
        <div class="release">
          <a href="/board/5217ee7a40da447a4f001471">RELEASE</a>
        </div>
        <div class="sprint">
          <a href="/board/52c22160d2f9b24e0b026044">sprint</a>
        </div>
      </div>
      <h1>Trello board {{titleText}}</h1>
    </header>
    <div class="container">
      <div class="main-content">This is the default page. Pick a board to continue...

      </div>
    </div>
    <footer>
    </footer>
  </body>
</html>