!!!5
html
  head
    title SC-Trello
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/card.css')
  body
    header
      .navigation
        block header-nav
          .home
            a(href="/") home
          .all-boards
            a(href="/board") All Boards

      block header-title
        -var titleText = (board) ? ': ' + board : ''
        h1 Trello board #{titleText}

    .container
      .main-content
        block content
    footer
