!!!5
html
  head
    title SC-Trello
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      .navigation
        .release
          a(href="release") RELEASE
        .sprint
          a(href="sprint") sprint
      -var titleText = (board) ? ': ' + board : ''
      h1 Trello board #{titleText}

    .container
      .main-content
        block content
    footer
