!!!5
html
  head
    title SC-Jira
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/card.css')
    link(rel='stylesheet', href='/stylesheets/issues.css')
  body
    header
      .navigation
        block header-nav
          .home
            a(href="/") home
          .update-token
            a(href="/update-token") Update Token

      block header-title
        -var titleText = (sprintName) ? ': ' + sprintName : ''
        h1 Jira Projects #{titleText}

    .container
      .main-content
        block content
    footer
