extend layout

block append header-nav
    .print-card
      a(href="/print/card/#{list.id}") Print Cards

block header-title
  h1 List: #{list.name}

block content

  - each card in cards

    include cards/full

