extend layout

block append header-nav
    .jira-home
      a(href="/") -
    .print-stories
      a(href="/print/stories/#{projectId}") Print Stories
    .print-bugs
      a(href="/print/bugs/#{projectId}") Print 'New' Bugs

block content

  - each list in lists
    p
      h3 #{list.name}
      if(list.issues.length)
        - each issue in list.issues
          if(arrayContains(['User Story', 'New Feature', 'Issue', 'Bug', 'Task', 'Improvement', 'Test Automation'], issue.typeName))
            include issue/smallBug
            //- #{JSON.stringify(issue)}
          else
            include issue/smallOther
      else
        p.no-cards --NO ISSUES--