extend layout

block append header-nav
    .jira-home
      a(href="/") -
    .print-stories
      a(href="/print/stories/#{projectId}") Print Stories
    .print-bugs
      a(href="/print/bugs/#{projectId}") Print 'New' Bugs

block content

  - each list in lists
    p
      h3 #{list.name}
      if(list.issues.length)
        - each issue in list.issues
          if(arrayContains(['Story', 'New Feature', 'Improvement'], issue.typeName))
            include issue/small
          else if(arrayContains(['Bug', 'FIRE'], issue.typeName))
            include issue/smallBug
            //- #{JSON.stringify(issue)}
          else
            include issue/smallOther
      else
        p.no-cards --NO ISSUES--