extend layout
block content

  - each list in lists
    p
      a(href="/workflow/#{boardId}/#{list.id}") #{list.name}
      if(list.issues.length)
        - each issue in list.issues
          #{JSON.stringify(issue)}
          include issue/small
      else
        p.no-cards --NO ISSUES--