extend layout
block content
  | This is app uses
  a(href="https://developer.atlassian.com/display/JIRADEV/JIRA+REST+API+Example+-+OAuth+authentication")  Jira's Basic AUTH
  |.
  | You will want to determine what your OAuth token is, and add it to `basicAuth` in JiraApi.coffee.

