body{
  font-family: Georgia, serif;
  background: none;
  color: black;
  margin: 0;
  padding: 0;
}


* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.container {
  height: 21cm;
  width: 29.7cm;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
table {
  width: 100%
  outline: 2cm #FFEAEA solid;
  border-spacing: 5px;
  border-collapse: separate;
}
td{
  max-width: 6.9cm;
  width: 6.9cm;
  max-height: 6.8cm;
  height: 6.8cm;
  border: 8px solid black;
  outline: 8px solid red;
  padding: 10px;
  text-align: center;
  text-overflow: ellipsis
}
td.buffer{
  max-height: 1cm;
  height: 1cm;
  border: 0;
  outline: 0;
}
td.card{
  max-width: 14cm;
  max-height: 10.4cm;
  height: 10.4cm;
  width: 14cm;
  border: 3px solid black;
  outline: 8px;
}
td.card .card-name{
  font-size: 40px;
}

@media print {
  .container {
      margin: 0;
      border: initial;
      border-radius: initial;
      max-width: initial;
      max-height: initial;
      box-shadow: initial;
      background: initial;
      page-break-after: always;
  }
  header, footer {
    display: none;
  }
  .print-card {
    overflow:   initial;
    position:   initial;
    max-height: initial;
  }
  .remove {
    display: none;
  }
  .qa-label {
    background: initial;
    -webkit-print-color-adjust: exact;
  }
}



/*-------- Card style ---------*/



.print-card {
  overflow:   hidden;
  position:   relative;
  height:     100%;
  max-height: 100%;
}
.print-card .card-desc {
  padding:    10px 1px 1px 1px;
  font-size:  0.70em;
  text-align: justify;
  max-height: 40%;
  overflow:   hidden;
}
.qa-label {
  background: repeating-linear-gradient(
    110deg,
    #fff,
    #fff 15px,
    #fdf 40px,
    #fff 60px
  );
}
.member-name{
  position:   absolute;
  text-align: left;
  left:       3px;
  bottom:     2px;
}

.story-id{
  text-align: left;
  position: absolute;
  top: 15px;
}

td.card.bug{
  border: 10px solid red;
}

td.sub-task{
  position: relative;
}

.parent-id{
  position: absolute;
  bottom: 20px;
  font-size: smaller;
}

.checklist{
  font-size:  24;
  word-wrap: break-word;
}
.story-points{
  position:   absolute;
  text-align: right;
  right:      3px;
  bottom:     2px;
  font-size:  2.40em;
}

.priority {
  position: absolute;
  opacity:  0.2;
  filter:   alpha(opacity=20);
  color: red;
}

.priority img{
  height:   200px;
  width:    200px;
  margin-left: 150px;
  margin-top: 150px;
}