body{
  font-family: Georgia, serif;
  background: none;
  color: black;
  margin: 0;
  padding: 0;
}


* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.container {
  height: 29.7cm;
  width: 21cm;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
table {
  width: 100%
  outline: 2cm #FFEAEA solid;
  border-spacing: 20px;
  border-collapse: separate;
}
td{
  max-width: 6.8cm;
  max-height: 6.9cm;
  height: 6.9cm;
  outline: 12px solid red;
  padding: 4px;
  text-align: center;
  text-overflow: ellipsis
}
td.buffer{
  max-height: 1.3cm;
  height: 1.3cm;
  border: 0;
  outline: 0;
}
td.story{
  max-width: 20.8cm;
  max-height: 8cm;
  height: 8cm;
}
td.story .story-name{
  font-size:  3.80em;
}
.remove {
  background: url(../button_delete_small.png) no-repeat top right;
  width: 165px;
  height: 28px;
}

@media print {
  .remove {
    display: none;
  }
  .container {
      margin: 0;
      border: initial;
      border-radius: initial;
      max-width: initial;
      max-height: initial;
      box-shadow: initial;
      background: initial;
      page-break-after: always;
  }
  header, footer {
    display: none;
  }
  .print-card {
    overflow:   initial;
    position:   initial;
    max-height: initial;
  }
  .qa-label {
    background: initial;
    -webkit-print-color-adjust: exact;
  }
}



/*-------- Card style ---------*/



.print-story {
  overflow:   hidden;
  position:   relative;
  height:     100%;
  max-height: 100%;
  border:     12px solid black;
}
.print-story .story-desc {
  padding:    10px 1px 1px 1px;
  font-size:  0.70em;
  text-align: justify;
  max-height: 40%;
  overflow:   hidden;
}
.qa-label {
  background: repeating-linear-gradient(
    110deg,
    #fff,
    #fff 15px,
    #fdf 40px,
    #fff 60px
  );
}
.member-name{
  position:   absolute;
  text-align: left;
  left:       3px;
  bottom:     2px;
}
.story-id{
  text-align: right;
  font-size:  1.70em;
}
.story-points{
  position:   absolute;
  text-align: right;
  right:      3px;
  bottom:     2px;
  font-size:  2.40em;
}

