body{
  font-family: Georgia, serif;
  background: none;
  color: black;
  margin: 0;
  padding: 0;
}


* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.container {
  height: 21cm;
  width: 29.7cm;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
table {
  width: 100%
  outline: 2cm #FFEAEA solid;
  border-spacing: 5px;
  border-collapse: separate;
}
td{
  max-width: 6.9cm;
  max-height: 6.8cm;
  height: 6.8cm;
  border: 1px black solid;
  padding: 10px;
  text-align: center;
  text-overflow: ellipsis
}

@media print {
  .container {
      margin: 0;
      border: initial;
      border-radius: initial;
      max-width: initial;
      max-height: initial;
      box-shadow: initial;
      background: initial;
      page-break-after: always;
  }
  header, footer {
    display: none;
  }
  .print-card {
    overflow:   initial;
    position:   initial;
    max-height: initial;
  }
}



/*-------- Card style ---------*/



.print-card {
  overflow:   hidden;
  position:   relative;
  height:     100%;
  max-height: 100%;
}
.print-card .card-desc {
  padding:    10px 1px 1px 1px;
  font-size:  0.70em;
  text-align: justify;
  max-height: 40%;
  overflow:   hidden;
}
.member-name{
  position:   absolute;
  text-align: left;
  left:       3px;
  bottom:     2px;
}


