body{
  font-family: 'Georgia';
  color: #444;
  padding-left: 13px;
}


header {
    clear: both;
    height: 50px;
    padding: 1px;
}

h1 {
  font-family:maven_pro_bold;
}

footer {
    clear: both;
    padding: 1px;
}

.container{
  width: 1200px;
  margin: 50px auto;
  clear: both;
}

/*------------------------------------*/

a:link {
  color: #1B49A0;
  text-decoration: none;
}
a:visited {
  color: #1B49A0;
  text-decoration: none;
}
a:hover {
  color: #1B49A0;
  text-decoration: underline;
}
a:active {
  color: #1B49A0;
  text-decoration: none;
}

.update-token a{
  font-size: 12px;
  color: grey;
}

.navigation div{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  text-transform: uppercase;
}


/*------------------------------------*/


.project {
  padding-left: 30px;
}

.project img{
  position: absolute;
}

.project p.name{
  position: relative;
  padding-left: 45px;
}


/*------------------------------------*/


.main-content{
  padding: 10px;
  width: 900px;
}


li{
  list-style-type: none;
}

.not-found{
  color: red;
}

.error{
  color: red;
}

p{
  font-size: small;
  margin-bottom: 20px;
}


