extend print
block content
  -var index = 1
  -var tableCount = 0
  - each card in cards
    if index == 1
      tr.card(data-in="#{index}")
    if index == 2
      -index = 0
    -index++
    -tableCount++
      if tableCount > 4
        -tableCount = 1
        tr
          td.buffer(colspan=4)
      td.card(data-in="#{index}")
        include ../cards/printCard

