extend print
block content
  -var index = 1
  -var tableCount = 0
  - each bug in bugs
    if index == 1
      tr.card(data-in="#{index}")
    if index == 2
      -index = 0
    -index++
    -tableCount++
      if tableCount > 4
        -tableCount = 1
        tr
          td.buffer(colspan=4)
      td.card.bug(data-in="#{index}")
        include ../issue/printBug