extend printLarge
block content
  -var cellCount = 0
  - each story in stories
    tr
      -cellCount++
        if cellCount > 2
          -cellCount = 1
          tr
            td.buffer(colspan=1)
          tr
        td.story(style="outline: 14px solid ##{hashColor(story.key.substring(story.key.indexOf('-')+1))};")
          include ../issue/full
        tr
