extend print
block content
  -var index = 1
  -var tableCount = 0
  - each item in subtasks
    if(item.fields.status.name != "complete")
      if index == 1
        tr(data-in="#{index}")
      if index == 4
        -index = 0
      -index++
      -tableCount++
      if tableCount > 12
        -tableCount = 1
        tr
          td.buffer(colspan=4)
      td(style=
        "border:12px solid ##{colorHash(parentKey.substring(4))};" +
        "outline: 12px solid ##{colorHash(modify(parentKey.substring(4)))};"
        )
        .checklist
          #{item.fields.summary)