block card
  .print-card
      .card-name #{card.name}
      .card-desc #{card.desc}
      if(card.idMembers.length)
        pre.member-name
          - each memberId in card.idMembers
            .card-assigned #{members[memberId].fullName}
      else
        pre.member-name
          .card-unassigned --- Unassigned ---